# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example

# Env / secrets
.env
*.pem
aws-exports.json

# OS
.DS_Store
build/
landing_local/
.terraform.lock.hcl
